@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

:root {
  --text-color: #fff;
  --primary-color: #002631;
  --primary-blue: #006D7E;
  --dark-blue: #09455D;
  --light-blue: #1D8E9E;
  --soft-blue: #6FC4C9;
  --detail-color: #F04E3D;
  --secondary-detail-color: #FFCC3E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
